.navbar{
    list-style-type:none;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}
.navbar-item{
    margin:10px;
}
a:link{
    color:black;
    text-decoration:none;
}
a:visited{
    color:black;
}
a:hover{
    color:black;
}
a:active{
    color:black;
}
.center-div{
    display:flex;
    justify-content:center;
}
.rounded-input{
    display:flex;
    z-index:3;
    height:44px;
    background:#fff;
    border:1px solid #dfe1e5;
    box-shadow:none;
    border-radius:24px;
    margin:0 auto;
    width:calc(632px+6px);
    width:584px;
    max-width:584px;
    margin-top:30px;
}
.btn-google{
    background-color:#f8f9fa;
    border:1px solid #f8f9fa;
    border-radius:4px;
    color:#3c4043;
    font-family:Roboto,arial,sans-serif;
    font-size:14px;
    margin:11px 4px;
    padding:0 16px;
    line-height:27px;
    height:36px;
    min-width:54px;
    text-align:center;
    cursor:pointer;
    user-select:none;
}
.title{
    color:#d93025;
    font-size:20px;
    margin-top:40px;
}
.advanced.form{
    color:
    max-width:700px;
    margin-top:30px;
}
.row{
    display:flex;
    align-items:center;
    margin-bottom:15px;
}
.row label{
    display:flex;
    width:250px;
    font-size:14px;
}
.row input{
    flex:1;
    padding:6px;
}
.button-row{
    text-align;
    margin-top:20px;
}
.button-row input{
    background-color:#4d90fe;
    color:white;
    border:none;
    padding:8px 14px;
    cursor:pointer;
}
